body
{
	margin: 0;
}

#page 
{
  padding: 1em;
}

#content 
{
  padding-top: 1em;
}

nav a 
{
  color: #fff;
}

ul.menu 
{
  padding: 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
}

ul.menu li
{
	float: left;
	width: 20%;
	text-align: center;
}

ul.menu li a
{
  list-style-type: none;
  display: block;
  background: #663399;
  margin: 0;
  padding: .5em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

ul.menu li a:hover
{
  background: #3d1763;	
}

a.open-panel, a.close-panel 
{
  display: none;
}

@media only screen and (max-width: 55em) {
  
  #content 
  {
    padding-top: 0;
  }

  nav 
  {
    width: 70%;
    position: absolute;
    left: -70%;
    top: 0;
    height: 100%;
    background: #663399;
  }

  ul.menu 
  {
    border-top: 1px solid #fff;
  }

  ul.menu li
  {
    float: none;
    width: auto;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
  }

  ul.menu li a
  {
  	padding: .5em 1em;
  	width: 100%;
  }

  a.open-panel, a.close-panel 
  {
    display: inline;
  }

  .close-panel 
  {
    position: relative;
    top: .5em;
    left: 1em;
  }

  .openNav #page 
  {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

  #page 
  {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

  .icon-open
  {
  	width: 100px;
	height: 50px;
	background: #663399 url(../images/icons2.png) 0 0 no-repeat;
	display: block;  
  }

  .icon-close
  {
  	width: 50px;
	height: 50px;
	background: #663399 url(../images/icons2.png) right 0 no-repeat;
	display: block;  
  }
}
